body{
	text-align: center;
}
#seccion1{
	background-color: #595858;
	padding-top: 5%;
}
.titulo{
	padding-bottom: 4%;
}
#seccion2{
	background-color: #fff;
	padding-top: 5%;
}
.textoSeccion2{
	padding-bottom: 5%;
}
#seccion3{
	background-color: #595858;
	padding-top: 5%;
}
#seccion4{
	background-color: #fff;
	padding-top: 5%;
}
.imagenes{
	padding-top: 7%;
	padding-bottom: 7%;
	margin: 2%;
}
#seccion5{
	background-color: #595858;
	padding-top: 5%;
}
