doctype html
html(lang='es')
	head
		title= "Ejercicio-Pug"
		link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="../src/assets/css/main.css")
	body
		section.container-fluid
			section#seccion1
				section.row
					section.col-xs-8.offset-xs-2
						p.titulo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi ipsum, consectetur vel enim eget, ultrices dignissim leo. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			section#seccion2
				section.row
					section.col-xs-3
						img.imagenes.img-circle(src="https://dummyimage.com/200", alt="")
						p.textoSeccion2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;'
					section.col-xs-3
						img.imagenes.img-circle(src="https://dummyimage.com/200", alt="")
						p.textoSeccion2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3
						img.imagenes.img-circle(src="https://dummyimage.com/200", alt="")
						p.textoSeccion2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3
						img.imagenes.img-circle(src="https://dummyimage.com/200", alt="")
						p.textoSeccion2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			section#seccion3
				section.row
					section.col-xs-8.offset-xs-2
						p.titulo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3
						p Lorem ipsum dolor sit amet.
				section.row
					section.col-xs-4
						img.imagenes(src="https://dummyimage.com/300", alt="")
						p.textoSeccion3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus
					section.col-xs-4
						img.imagenes(src="https://dummyimage.com/300", alt="")
						p.textoSeccion3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus
					section.col-xs-4
						img.imagenes(src="https://dummyimage.com/300", alt="")
						p.textoSeccion3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus
			section#seccion4
				section.row
					section.col-xs-8.offset-xs-2
						p.titulo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				section.row
					section.col-xs-3
						p.texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3
						p.texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3
						p.texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3
						p.texto Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
				section.row
					section.col-xs-6.offset-xs-3
						p.texto Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				section.row
					section.col-xs-6.offset-xs-3
						img.imagenes.img-circle(src="https://dummyimage.com/100", alt="")
						img.imagenes.img-circle(src="https://dummyimage.com/100", alt="")
						img.imagenes.img-circle(src="https://dummyimage.com/100", alt="")
			section#seccion5
				section.row
					section.col-xs-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					section.col-xs-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
			script(src="../node_modules/jquery/dist/jquery.min.js")
			script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
